[Unit]
Description=Startup the system for CTF

[Service]
Type=simple
ExecStart=/root/to/your/script.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
