/*
!fish/*
!.gitignore
!hypr/*
!kitty/*
!neofetch/*
!nvim/*
!rofi/*
!starship.toml
!swaylock/*
!swww/*
!systemd/*
!tmux/*
!waybar/*
!wlogout/*
!zed/*

!fish/
!hypr/
!kitty/
!neofetch/
!nvim/
!rofi/
!swaylock/
!swww/
!systemd/
!tmux/
!waybar/
!wlogout/
!zed/
