/*
!fish/
!fish/*
!hypr/
!hypr/*
!kitty/
!kitty/*
!neofetch/
!neofetch/*
!nvim/
!nvim/*
nvim/pack/nvim/start/nvim-lspconfig
!rofi/
!rofi/*
!swaylock/
!swaylock/*
!swww/
!swww/*
!systemd/
!systemd/*
# !tmux/
# !tmux/*
!waybar/
!waybar/*
!wlogout/
!wlogout/*
!zed/
!zed/*

!.gitignore
!starship.toml

