btop
Code
dconf
dleyna-server-service.conf
enchant
eog
evolution
gedit
gnome-initial-setup-done
gnome-session
goa-1.0
.gsd-keyboard.settings-ported
gtk*
ibus
kitty
libreoffice
menus
mimeapps.list
monitors.xml
nautilus
pop-shell
pop-system-updater
pulse
qalculate
QtProject.conf
Signal
totem
touchegg
user-dirs.dirs
user-dirs.locale
VirtualBox
